<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Personal Loan">
		<classes>

			<class name="testpack.FirstTest" />
			<class name="testpack.SecondTest" >
			<methods>
			<include name="firstTest"/>
			</methods>
			</class>

		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Car Loan">
		<classes>

			<class name="testpack.ThirdTest" >
			<methods>
		   <exclude name="mobileTest.*"/>
			</methods>
			</class>

		</classes>
	</test> 
	
</suite> <!-- Suite -->
